/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); 

// Colors 
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;

// Base document colors
$navbar-bg:      // navbar
$navbar-fg:      // navbar foreground elements
$navbar-hl:      // highlight color when hovering over navbar links
$body-bg:        // page background
$body-color:     // page text
$footer-bg:      // footer
$link-color:     // hyperlinks

// Inline code
$code-bg:        // inline code background color
$code-color:     // inline code text color

